<footer class="footer py-1 bg-dark">
  <div class="container py-3">
    <div class="row">
      <div class="col col-8">
        <h2 class="text-white">The Creative Forum</h2>
        <ul class="contact-list list-unstyled">
          <li class="p-name text-light">Department of Spanish & Portuguese</li>
          <li class="p-name text-light">Yale University</li>
          <li>
            <a
              class="u-email text-warning"
              href="mailto:{{ site.email }}?subject=Creative Forum Inquiry"
              >Contact us</a
            >
          </li>
        </ul>

        <!-- <p class="feed-subscribe">
          <a
            class="btn btn-orange text-white"
            href="{{ 'feed.xml' | relative_url }}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-rss-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 
                2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 
                10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 
                6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 
                0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
              />
            </svg>
            <span>Subscribe</span>
          </a>
        </p> -->
      </div>
      <div class="col col-4">
        <a href="https://span-port.yale.edu/" target="_blank"
          ><img
            src="/images/spanport-logo.png"
            width="120"
            class="img-fluid float-end d-sm-none d-md-block"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</footer>
