<nav class="navbar navbar-expand-md navbar-light bg-light shadow fixed-top opacity-75">
  <div class="container">
    <div>
      <a class="h1 navbar-brand" href="/"><img src="{{site.baseurl}}/images/logo.png" height="30" alt="Round logo with the letters Y, C, and F" style="position: relative; top: -4px" /></a>
      <span class="h3 nav-title text-dark"><a href="/variantes/" style="color: inherit; text-decoration: inherit">Variantes</a></span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navigation-bar" class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% assign links = site.data.navigation %} {% for link in links %} {% if link.sublinks %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ link.title }}</a>
          <ul class="dropdown-menu">
            {% for sublink in link.sublinks %}
            <li><a class="dropdown-item {% if sublink.url == page.url %}active{% endif %}" href="{{ sublink.url }}">{{ sublink.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="menu-item nav-item">
          <a class="nav-link {% if link.url == page.url %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</nav>
