
@import "vars";
@import "bootstrap-5.3.0/scss/bootstrap.scss";

/* Bootstrap Overrides */

p { font-size: 18px; }



/* Custom Styles */




@font-face {
    font-family: 'Yale New Roman';
    src: url(/assets/fonts/YaleNewRoman.otf) format(opentype);
}

@font-face {
    font-family: 'Mallory Light';
    src: url(/assets/fonts/MalloryLight.ttf) format(truetype);
}

@font-face {
    font-family: 'Mallory Book';
    src: url(/assets/fonts/MalloryBook.ttf) format(truetype);
}

$backgroundColor: #ffffff;
$bodyColor: #000000;

$bodyFont: "Yale New Roman",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1, h2, h3, h4 {
    font-family: 'Mallory Light';
}

// Navbar

.home-nav-title {
    display: none;
}

nav.scrolled .home-nav-title, nav.scrolled .nav-title {
    display: inline;
    color: $light !important;
}

@media screen and (max-width: 380px) {
    .home-nav-title, .nav-title {
        display: none;
    }
  }


nav {
    transition: background-color 0.4s ease-in-out;
}

nav.scrolled {
    background-color: #00365b !important;
    opacity: .9 !important;
}

.navbar-brand {
    color: #00365b;
}

// Masthead


.banner {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    border-bottom: 2px solid black;
}

.masthead.event.banner {
    height: 80vh;
    min-height: 200px;
    background-size: cover;
    border-bottom: 0;
}

.masthead.short {
    margin: 20vh 0 10vh 0;
}

.masthead.home.banner {
    background-image: url('/images/banner-outline.png');
    animation: firstImage ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-position-y: center; 
}

@keyframes firstImage {
    0% {        
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

.final-image {
    animation: finalImage ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url('/images/banner-color.png');
    background-size: cover;
    background-position-y: center; 
    height: 100vh;
}

@keyframes finalImage {
    0% {
        opacity: .0;
    }
    100% {
        opacity: 1;
    }
}


.masthead.home h1 {
    animation: fadeInAnimation ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.atspanport {
    animation: fadeInAnimation ease-in 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.masthead h1 {
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}

.masthead.home h1 {
    font-family: 'Mallory Book';
    font-size: 12vw;
    -webkit-text-stroke: 2px #00365b; /* width and color */
}

.masthead.page h1 {
    font-family: 'Mallory Book';
    font-size: 12vw;
    -webkit-text-stroke: 2px #00365b; /* width and color */
}

.masthead.event h1 {
    font-family: 'Mallory Book';
    -webkit-text-stroke: 2px #00365b; /* width and color */
}

.masthead .lead {
    color: #f9f9f9;
    font-size: 1.4rem;
}

.atspanport {
    text-shadow: 5px 2px 5px black;
}

//  Featured Events

.featured {
    min-height: 300px;
    background-size: cover;
    border-bottom: 0;
}

.featured-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.flush-col {
    padding: 0;
}

// Buttons

button {
    font-family: 'Mallory Book' !important;
}

span.series {
    display: block;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

span.series-thumb {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.caption {
    font-size: 0.8rem;
}

.u-email {
    text-decoration: none;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
}









  
