---
layout: custom
title: "Literary Bites"
subtitle: "A Luncheon with a Plot Twist"
banner: "litbites.png"
card: litbites.png
---

<div class="container mt-5">
  <div class="row justify-content-center p-4">
    <div class="col-8">
      <h2>Yale University | Fall 2024–Spring 2025</h2>

      <p>Feast your mind and spirit on a delectable fusion of literature and intellectual nourishment with "Literary Bites," a Luncheon Series presented by the Creative Forum at Yale's Department of Spanish and Portuguese. We will bring together talented writers, scholars, and students for a unique fusion of literary discourse and intellectual stimulation. At these monthly catered lunches, we aim to serve up thought-provoking conversations about past and ongoing projects, showcase Yale's established and up-and-coming literary talents, and strive to transform our department into a thriving hub for literary creation.</p>

      <p>Each of our events revolves around the work of one or a few hosts. Each invited host is in charge of providing us with a twist on the traditional writing workshop or literary reading. In other words, each lunch comes with a plot twist! Come join us for a literary spread that will leave you savoring every word.</p>
    </div>
    <div class="col-8 pb-3 pt-3 display-5">Details coming soon</div>
  </div>

  <!-- <div class="row p-4">
    {% assign encounters = site.encounters | where: "series", "Literary Bites" |
    where: "semester", "Spring 2024" | sort: "date" %} {% for event in
    encounters %} {% include event-card.html event=event %} {% endfor %}
  </div> -->

  <!-- <div class="row justify-content-center p-4">
    <div class="col-8">
      <h2>In Partnership with</h2>
      <ul>
        <li></li>
      </ul>
    </div>
  </div> -->
</div>
