---
layout: default
---

<header
  class="masthead page {% if page.banner %}banner{%else%}short{% endif %}"
  style="background-image: url('/images/{{page.banner}}');"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center text-white">
        <h1
          class="fw-light display-1"
          data-mdb-toggle="animation"
          data-mdb-animation-reset="true"
          data-mdb-animation="fade-in-left"
          data-mdb-animation-start="onLoad"
        >
          {{page.title}}
        </h1>
        {% if page.subtitle %}
        <p class="display-4 atspanport">{{page.subtitle}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{{content}}
