---
layout: default
---

<header class="masthead home {% if page.banner %}banner{%else%}short{% endif %}">
  <div class="final-image g-0">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center text-white">
          <h1 class="fw-light display-1" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="fade-in-left" data-mdb-animation-start="onLoad">The Creative Forum</h1>
          <p class="lead atspanport" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="fade-in-left" data-mdb-animation-start="onLoad">{{page.subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
</header>

{{content}}
