---
layout: default
---

<header class="masthead home {% if page.banner %}banner{%else%}short{% endif %}">
  <div class="final-image g-0">
    <div class="container h-100">
      <div class="row h-100 align-items-start">
        <div class="mt-5 pt-5 pr-1 col-12 text-end text-white">
          <!-- <span class="atspanport">The Yale Department of Spanish & Portuguese and The Creative Forum present...</span> -->
          <!-- <h1 class="fw-light display-1" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="fade-in-left" data-mdb-animation-start="onLoad">Variantes</h1> -->
        </div>
      </div>
    </div>
  </div>
</header>
<div class="bg-light">
  <div class="container">
    <p class="text-end small text-muted pt-1 mb-0">Ilustração Sem Título by Thay Kleinsorgen.</p>
  </div>
</div>

{{content}}
