name: Build and Deploy
on:
  push:
    branches: ["main"]
jobs:
  build:
    if: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: [ruby-3.1]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
          cache-version: 0
      - name:
          Build with Jekyll
          # Outputs to the './_site' directory by default
        run: "bundle exec jekyll build"
        env:
          JEKYLL_ENV: production
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./_site s3://creativeforum.yalespace.org/variantes --delete --exclude ".git*"
      - name: Flush Distribution Cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.DISTRIBUTION_ID }} --paths '/variantes/*'
